<div class="dish-card">
<<<<<<< HEAD
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Ingredients:
      {{ingredient_list}}
    </p>
    <p>
      Preparation:
      {{preparation}}
    </p>
  </div>
=======
    <div class="dish-card-header">
        {{dish_name}}
    </div>
    <div class="card-body">
        <p>
            Description:
            {{description}}
        </p>
        <p>
            Ingredients:
            {{ingredient_list}}
        </p>
        <p>
            Preparation:
            {{preparation}}
        </p>
    </div>
>>>>>>> 9edef95909522ed633b8aa2aef46defaaff00a8a
</div>

<script src="/js/edit-dish.js"></script>